.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.links {
  text-decoration: none;
  color: #947592;
}

.links:hover {
  text-decoration: none;
  color: #2F3266;
}
